<widget versionCode="2" version="2.31" id="com.devexpress.apptemplate" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets">
  <name>mySAISD</name>
  <preference value="none" name="permissions" />
  <preference value="true" name="prerendered-icon" />
  <preference value="adjustPan" name="android-windowSoftInputMode" />
  <!--<preference value="splash" name="SplashScreen" />-->
  <preference value="0" name="SplashScreenDelay" />
  <preference value="true" name="AutoHideSplashScreen" />
  <preference value="true" name="DisallowOverscroll" />
  <preference value="false" name="StatusBarOverlaysWebView" />
  <preference value="#000000" name="StatusBarBackgroundColor" />
  <preference value="14" name="android-minSdkVersion" />
  <preference value="26" name="android-targetSdkVersion" />
  <feature name="http://api.phonegap.com/1.0/network" />
  <!--<preference value="cli-6.5.0" name="phonegap-version" />-->
  <preference name="FadeSplashScreen" value="false" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <key>CFBundleVersion</key>
  <string>2.31.0</string>
  <key>CFBundleShortVersionString</key>
  <string>2.31</string>
  <author email="email@sample.com" href="sample.com">Description</author>
  <access origin="*" launch-external="yes" />  
</widget>